{% extends 'base.html' %}

{% block title %}
Страница авторизации
{% endblock %}

{% block content %}
<script>
    function uploadAvatar() {
        let formData = new FormData();
        let file = document.querySelector('input[type=file]').files[0];
        formData.append('file', file);

        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload_avatar', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Обновление изображения на странице без перезагрузки
                let preview = document.querySelector('.avatar');
                let reader = new FileReader();
                reader.onloadend = function () {
                    preview.src = reader.result;
                }
                reader.readAsDataURL(file);
            } else {
                alert('Произошла ошибка при загрузке изображения.');
            }
        };
        xhr.send(formData);
    }
</script>

<section class="bg-gray-50 dark:bg-gray-900 h-screen">
    <div class="flex flex-row w-full">

        <!-- Левая навигация по приложению -->
        {% include 'components/left-side-bar.html' %}

        <!-- Модальное окно для добавления пароля -->
        {% include 'components/add-modal-password.html' %}

        <!-- Модальное окно для добавления пароля -->
        {% include 'components/edit-modal-password.html' %}

        <div class="bg-white dark:bg-gray-800 relative shadow-md overflow-hidden w-full">

            <!-- Модальное окно для добавления пароля -->
            {% include 'components/header-for-table.html' %}

            <!-- Модальное окно для добавления пароля -->
            {% include 'components/body-for-table.html' %}
        </div>

        <!--    Модальное окно для удаления всех паролей из аккаунта    -->
        {% include './components/delete-modal-all-passwords.html' %}

    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Находим кнопки и модальное окно
        let addButton = document.getElementById('add-password-button');
        let modal = document.getElementById('add-password-modal');
        let closeButton = document.getElementById('close-add-password-modal');

        // Добавляем обработчик события клика на кнопку "Добавить"
        addButton.addEventListener('click', function () {
            modal.classList.remove('hidden');
        });

        // Добавляем обработчик события клика на кнопку "Закрыть"
        closeButton.addEventListener('click', function () {
            modal.classList.add('hidden');
        });
    });
</script>
{% endblock %}
