{% extends 'base.html' %}

{% block title %}
Пользовательское соглашение | SafePass
{% endblock %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 md:h-full lg:py-0 w-full max-w-screen-xl mx-auto p-4 md:py-8">

        {% include 'header.html' %}

        <div class="container mx-auto px-4 py-8 pt-[79px]">
            <h1 class="text-2xl font-bold mb-4 text-gray-800 dark:text-gray-100">Пользовательское соглашение</h1>
            <div class="prose prose-sm text-gray-600 dark:text-gray-400">
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">1. Общие положения</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold">1.1. В настоящем пользовательском соглашении (далее –
                        Соглашение) термины и определения имеют следующие значения:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li><strong>Платформа:</strong> программно-аппаратный комплекс, интегрированный с Сайтом.</li>
                        <li><strong>Пользователь:</strong> дееспособное физическое лицо, присоединившееся к настоящему
                            Соглашению в собственном интересе или действующее от имени и в интересах представляемого им
                            юридического лица.
                        </li>
                        <li><strong>Сайт:</strong> интернет-сайт, размещенный в домене https://www.similarweb.com/pt/.
                        </li>
                        <li><strong>Сервис:</strong> комплекс услуг и лицензия, предоставляемые Пользователю с
                            использованием Платформы.
                        </li>
                        <li><strong>Соглашение:</strong> настоящее соглашение со всеми дополнениями и изменениями.</li>
                    </ul>
                    <p class="text-white font-semibold">1.2. Использование Сервиса любым способом и в любой форме в
                        пределах его объявленных функциональных возможностей, включая:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li>просмотр материалов, размещенных на Сайте;</li>
                        <li>регистрацию и/или авторизацию на Сайте;</li>
                        <li>размещение или отображение на Сайте любых материалов, включая, но не ограничиваясь, тексты,
                            гипертекстовые ссылки, изображения, аудио- и видеофайлы, сведения и/или иную информацию,
                            создает договор на условиях настоящего Соглашения в соответствии со ст. 437 и 438
                            Гражданского кодекса Российской Федерации.
                        </li>
                    </ul>
                    <p class="text-white font-semibold">1.3. Воспользовавшись любой из указанных выше возможностей по
                        использованию Сервиса, Вы подтверждаете, что:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li>Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования
                            Сервиса.
                        </li>
                        <li>Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и
                            ограничений с Вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса.
                        </li>
                        <li>Соглашение (в том числе любая из его частей) может быть изменено Администрацией без
                            специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения
                            на Сайте или доведения до сведения Пользователя в иной удобной форме, если иное не
                            предусмотрено новой редакцией Соглашения.
                        </li>
                    </ul>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">2. Общие условия пользования
                    Сервисом</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold mb-3">2.1. Использование функциональных возможностей Сервиса
                        допускается только после прохождения Пользователем регистрации и авторизации на Сайте в
                        соответствии с установленной Администрацией процедурой.</p>
                    <p class="text-white font-semibold mb-3">2.2. Технические, организационные и коммерческие условия
                        использования Сервиса, в том числе его функциональных возможностей, доводятся до сведения
                        Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.</p>
                    <p class="text-white font-semibold mb-3">2.3. Выбранные Пользователем логин и пароль являются
                        необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет
                        права передавать свои логин и пароль третьим лицам, несет полную ответственность за их
                        сохранность, самостоятельно выбирая способ их хранения.</p>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">3. Хранение паролей</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold mb-3">3.1. Сервис предназначен для хранения паролей
                        Пользователя.</p>
                    <p class="text-white font-semibold mb-3">3.2. Пользователь самостоятельно вводит свои пароли в
                        Сервис.</p>
                    <p class="text-white font-semibold mb-3">3.3. Сервис использует алгоритмы шифрования для защиты
                        паролей Пользователя.</p>
                    <p class="text-white font-semibold mb-3">3.4. Администрация не имеет доступа к паролям Пользователя,
                        хранящимся в Сервисе.</p>
                    <p class="text-white font-semibold mb-3">3.5. Пользователь несет ответственность за сохранность
                        своих паролей.</p>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">4. Права и обязанности
                    Пользователя</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold">4.1. Пользователь имеет право:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li class="">использовать Сервис в соответствии с его функциональным назначением;</li>
                        <li>получать доступ к своим паролям, хранящимся в Сервисе;</li>
                        <li>изменять и удалять свои пароли, хранящиеся в Сервисе;</li>
                        <li>отзывать согласие на обработку своих персональных данных.</li>
                    </ul>
                    <p class="text-white font-semibold">4.2. Пользователь обязан:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li>не использовать Сервис в целях, противоречащих законодательству Российской Федерации;</li>
                        <li>не использовать Сервис для хранения паролей, доступ к которым может быть получен третьими
                            лицами;
                        </li>
                        <li>не передавать свои логин и пароль третьим лицам;</li>
                        <li>не использовать Сервис для распространения информации, запрещенной законодательством
                            Российской Федерации.
                        </li>
                    </ul>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">5. Права и обязанности
                    Администрации</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold">5.1. Администрация имеет право:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li>вносить изменения в настоящее Соглашение;</li>
                        <li>приостанавливать или прекращать работу Сервиса;</li>
                        <li>удалять пароли Пользователя, которые нарушают настоящее Соглашение.</li>
                    </ul>
                    <p class="text-white font-semibold">5.2. Администрация обязана:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li>поддерживать работоспособность Сервиса;</li>
                        <li>обеспечивать конфиденциальность информации Пользователя в соответствии с законодательством
                            Российской Федерации.
                        </li>
                    </ul>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">6. Ответственность</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold">6.1. Администрация не несет ответственности за:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li>неправомерные действия третьих лиц, повлекшие за собой разглашение или утрату паролей
                            Пользователя;
                        </li>
                        <li>работоспособность программного обеспечения третьих лиц, используемого в составе Сервиса;
                        </li>
                        <li>убытки Пользователя, возникшие в результате использования Сервиса.</li>
                    </ul>
                    <p class="text-white font-semibold">6.2. Пользователь несет ответственность за:</p>
                    <ul class="mb-3 text-gray-500 dark:text-gray-400 list-disc pl-10">
                        <li>достоверность информации, указанной им при регистрации;</li>
                        <li>нарушение условий настоящего Соглашения.</li>
                    </ul>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">7. Разрешение споров</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold mb-3">7.1. Все споры, возникающие из настоящего Соглашения или
                        связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской
                        Федерации.</p>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">8. Срок действия Соглашения</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold mb-3">8.1. Настоящее Соглашение вступает в силу с момента его
                        размещения на Сайте и действует бессрочно.</p>
                </div>
                <h2 class="text-xl font-bold mb-4 text-gray-800 dark:text-gray-100">9. Заключительные положения</h2>
                <div class="ml-8">
                    <p class="text-white font-semibold mb-3">9.1. Настоящее Соглашение является полным соглашением между
                        Сторонами в отношении предмета настоящего Соглашения и заменяет все ранее существовавшие
                        соглашения, переписку, переговоры и иные сообщения, как письменные, так и устные, между
                        Сторонами.</p>
                    <p class="text-white font-semibold mb-3">9.2. К настоящему Соглашению и отношениям между Сторонами,
                        возникающим из настоящего Соглашения, применяется законодательство Российской Федерации.</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</section>
{% endblock %}