<div id="edit-password-modal" class="fixed z-50 inset-0 overflow-y-auto hidden backdrop-blur-sm bg-black/25">
    <div class="flex items-center justify-center h-full p-4 ">
        <div class="fixed inset-0 transition-opacity"></div>
        <div class="bg-gray-50 dark:bg-gray-700 rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
            <div class="bg-gray-50 dark:bg-gray-700 px-4 py-5 sm:p-6">

                <form action="/update-password" method="post" enctype="multipart/form-data">
                    <label for="id-edit"></label>
                    <input type="text" id="id-edit" name="id-edit" hidden="hidden"/>
                    <div class="mb-6">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="image-edit">Загрузить
                            картинку</label>
                        <input id="image-edit" name="image-edit"
                               class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                               type="file">
                    </div>
                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <div>
                            <label for="title-edit"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Название</label>
                            <input type="text" id="title-edit" name="title-edit"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Вконтакте" required/>
                        </div>
                        <div>
                            <label for="username-edit"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Логин</label>
                            <input type="text" id="username-edit" name="username-edit"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Логин"/>
                        </div>
                        <div>
                            <label for="category-edit"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Категория</label>
                            <input type="text" id="category-edit" name="category-edit"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="Соц.сети" required/>
                        </div>
                        <div>
                            <label for="color-edit"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Цвет
                                категории</label>
                            <select id="color-edit" name="color-edit"
                                    class="relative h-[42px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="#8d0000">Красный</option>
                                <option value="#008700">Зеленый</option>
                                <option value="#007eff">Синий</option>
                                <option value="#ced100">Желтый</option>
                                <option value="#800080">Фиолетовый</option>
                                <option value="#ff5e00">Оранжевый</option>
                                <option value="#cb6703">Коричневый</option>
                                <option value="#808080">Серый</option>
                                <option value="#008174">Берюзовый</option>
                            </select>

                        </div>


                        <div>
                            <label for="phone_number-edit"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Номер
                                телефона</label>
                            <input type="tel" id="phone_number-edit" name="phone_number-edit"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="+7 (914) 208-05-80"/>
                        </div>
                        <div>
                            <label for="website-edit"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Сайт
                                (URL)</label>
                            <input type="url" id="website-edit" name="website-edit"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   placeholder="https://safepass.ru"/>
                        </div>

                    </div>
                    <div class="mb-6">
                        <label for="email-edit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Адрес
                            элетронной почты</label>
                        <input type="email" id="email-edit" name="email-edit"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="john.doe@company.com"/>
                    </div>
                    <div class="mb-6">
                        <label for="password-edit" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">пароль</label>
                        <input type="password" id="password-edit" name="password-edit"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="•••••••••"/>
                    </div>
                    <div class="mb-6">
                        <label for="description-edit"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Описание</label>
                        <textarea id="description-edit" name="description-edit" rows="4"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  placeholder="Write your thoughts here..."></textarea>
                    </div>
                    <div class="flex items-start mb-6">
                        <div class="flex items-center h-5">
                            <input id="remember-edit" type="checkbox" value="" checked
                                   class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                                   required/>
                        </div>
                        <label for="remember-edit" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Я
                            согласен с <a href="/terms-of-use" target="_blank"
                                          class="text-blue-600 hover:underline dark:text-blue-500">условиями</a>.</label>
                    </div>
                    <div class="flex justify-between w-full gap-4">
                        <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Отправить
                        </button>
                        <button id="close-edit-password-modal" type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Закрыть
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>